.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-text);
    padding: 15px 20px;

    .text {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    padding: 20px 30px;

    .icon {
    }

    .text {
      max-width: 400px;
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
    }
  }

  .cards {
		overflow-y: auto;
    
  }
}
