.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px;

  width: 790px;
  height: 457px;

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .close {
      display: flex;
    }
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .title {
      text-align: center;
      max-width: 600px;
      font-size: 36px;
      line-height: 46px;
      font-weight: 700;

      color: #000000;
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 40px 25px;
    width: calc(100% - 50px);

    .content {
      width: 100%;
      .title {
        font-size: 26px;
        line-height: 34px;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .content {
      .actions {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: normal;
        align-items: normal;
      }
    }
  }
}
