.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-text);
    padding: 15px 20px;

    .text {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    padding: 20px 30px;

    .icon {
    }

    .text {
      max-width: 400px;
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
    }
  }

  .cards {
    height: calc(100vh - 245px);
    overflow-y: auto;
  }
}

@media (max-width: 1000px) {
  .container {
    .header {
      .text {
        font-size: 24px;
      }
    }

    .title {
      .text {
        font-size: 18px;
        line-height: 24px;
        color: #697172;
      }
    }

    .cards {
      height: calc((var(--vh, 1vh) * 100) - 246px);
      overflow-y: auto;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .title {
      padding: 20px 15px;
    }
  }
}
