.container {
  display: flex;
	justify-content: center;
	align-items: center;
  .logo {
		& img {
			max-width: 235px;
		}
  }

  .image {
  }

  .title {
    color: var(--Logitech-Colors-Kohle, #2f3132);
    text-align: center;
    font-family: BrownPro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
}
