.container {
  height: calc(var(--vh, 1vh) * 100 - 32px - 24px - 39px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  .image_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    pointer-events: none;
  }

  .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    .title {
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
    }

    .subtitle {
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}

@media (max-width: 992px) {
  .container {
    .image {
      width: 120%;
    }

    .content {
      padding: 0 40px;
    }
  }
}

@media (max-width: 720px) {
  .container {
    height: calc(var(--vh, 1vh) * 100 - 10px - 30px - 39px);
  }
}

@media (max-width: 640px) {
  .container {
    .image {
      width: 150%;
    }
  }
}

@media (max-width: 420px) {
  .container {
    .image {
      width: 160%;
    }
  }
}




// ----------------------

.containerForm1,
.containerForm2 {
	padding: 20px;
	width: 500px;
}
.containerForm2 {
	width: 600px;
}
