.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .image {
    height: 50vh;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    .title {
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
    }

    .subtitle {
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}

@media (max-width: 750px) {
  .container {
    .image {
      & img {
        width: 100%;
        height: 100%;
        object-fit: none;
      }
    }
  }
}
