.itemAnnotation {
  display: flex;
  padding: 20px 55px 20px 20px;
  border-bottom: 1px dashed #c3c6c8;
  position: relative;

  .labelText {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: var(--main-color-text);
    text-align: left;
    box-sizing: border-box;
  }
  .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    box-sizing: border-box;
  }
}

.itemAnnotation:last-child {
  border-bottom: none;
}
