.container_PrepareSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 60px;
  height: calc(100% - 60px);

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .wrapper_scroll {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
  }

  .secondaryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .titleSecond {
      font-size: 26px;
      line-height: 40px;
      font-weight: 700;
      color: #000000;
    }

    .secondaryWrapperCards {
      display: flex;
      justify-content: center;
      gap: 28px;
    }
  }
}

/// Room Card start
.wrapperCardsRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .contentRoomCard {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    gap: 28px;
    height: 448px;
  }
}

@media (max-width: 1300px) {
  .wrapperCardsRoom {
    padding: 0 0 0 40px;
    width: calc(100% - 40px);
    .contentRoomCard {
      padding: 30px 40px 30px 0;
      gap: 15px;
      overflow-x: auto;
      justify-content: normal;
      height: 380px;
    }
  }
}

@media (max-width: 1000px) {
  .wrapperCardsRoom {
    padding: 0 0 0 0;
    width: calc(100%);
    .contentRoomCard {
      gap: 23px;
      padding: 20px 40px;
      height: 366px;
    }
  }

  .wrapperCardsRoom {
    .contentRoomCard {
      overflow-x: auto;
      justify-content: normal;
    }
  }

  .wrapper_scroll > .wrapperCardsRoom > .contentRoomCard {
    border-bottom: 1px solid #c3c6c8;
  }
}
@media (max-width: 720px) {
  .wrapperCardsRoom {
    .contentRoomCard {
      padding: 20px 40px 10px;
    }
  }
}
@media (max-width: 720px) {
  .contentRoomCard {
    height: 260px;
  }
}

@media (max-width: 610px) {
  .wrapperCardsRoom {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .wrapperCardsRoom {
    .contentRoomCard {
      height: 260px;
    }
  }
}

/// Room Card end
/// Room Card start
.wrapperCardsPlatform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .contentCardsPlatform {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    gap: 28px;
    height: 473px;
  }
}

@media (max-width: 1400px) {
  .wrapperCardsPlatform {
    padding: 0 0 0 40px;
    width: calc(100% - 40px);
    .contentCardsPlatform {
      padding: 30px 40px 30px 0;
      gap: 15px;
      overflow-x: auto;
      justify-content: normal;
      height: 380px;
    }
  }
}

@media (max-width: 1000px) {
  .wrapperCardsPlatform {
    padding: 0 0 0 0;
    width: calc(100%);
    .contentCardsPlatform {
      gap: 23px;
      padding: 20px 40px;
      height: 366px;
    }
  }

  .wrapperCardsPlatform {
    .contentCardsPlatform {
      overflow-x: auto;
      justify-content: normal;
    }
  }

  .wrapper_scroll > .wrapperCardsRoom > .contentRoomCard {
    border-bottom: 1px solid #c3c6c8;
  }
}
@media (max-width: 720px) {
  .wrapperCardsPlatform {
    .contentCardsPlatform {
      padding: 20px 40px 10px;
    }
  }
}
@media (max-width: 720px) {
  .contentCardsPlatform {
    height: 260px;
    padding: 20px 25px 10px;
  }
}

@media (max-width: 610px) {
  .wrapperCardsPlatform {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .wrapperCardsPlatform {
    .contentCardsPlatform {
      height: 260px;
    }
  }
}

/// Room Card end

/// Room service start

.container_PrepareSection {
  .wrapperCards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .content_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: stretch;
      gap: 28px;
      height: 100%;
    }
  }
}

@media (max-width: 1500px) {
  .container_PrepareSection {
    .wrapperCards {
      .content_cards {
        gap: 15px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .container_PrepareSection {
    .wrapperCards {
      .content_cards {
        padding: 30px 0;
        overflow-x: auto;
        justify-content: normal;
      }
    }
  }
}
@media (max-width: 1000px) {
  .container_PrepareSection {
    .wrapperCards {
      .content_cards {
        height: 366px;
      }
    }
  }
}
@media (max-width: 620px) {
  .container_PrepareSection {
    .wrapperCards {
      .content_cards {
        height: 250px;
        padding: 30px 0;
        overflow-x: auto;
        justify-content: normal;
      }
    }
  }
}

@media (max-width: 500px) {
  .container_PrepareSection {
    .wrapperCards {
      width: calc(100% - 60px);
      padding: 0 30px;
    }
  }
}

/// Room Serice end
///
///
@media (max-width: 1300px) {
  .container_PrepareSection {
    padding-top: 30px;
  }
}

@media (max-width: 1000px) {
  .container_PrepareSection {
    padding-top: 20px;
    height: calc(100% - 40px);

    .wrapper_scroll {
      gap: 40px;
    }

    .secondaryWrapper {
      .titleSecond {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 720px) {
  .container_PrepareSection {
    .secondaryWrapper {
      margin: 0 40px;
    }
  }
}

@media (max-width: 500px) {
  .container_PrepareSection {
    padding-top: 30px;
    .secondaryWrapper {
      margin: 0 25px;
      .titleSecond {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
