.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  background-color: #f4f4f4;
  padding-top: 60px;
  height: calc(100% - 60px);

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .wrapper_scroll {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px 0;
    height: calc(100% - 60px);
    width: 100%;
    overflow-y: auto;
  }

  .wrapperCards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .content_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: stretch;
      gap: 28px;
      min-height: 300px;
      max-height: 450px;
      height: 90%;
    }
  }

  .secondaryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .titleSecond {
      font-size: 26px;
      line-height: 40px;
      font-weight: 700;
      color: #000000;
    }

    .secondaryWrapperCards {
      display: flex;
      justify-content: center;
      gap: 28px;
    }
  }
}

@media (max-width: 1500px) {
  .container {
    .wrapperCards {
      .content_cards {
        gap: 15px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .container {
    .wrapperCards {
      .content_cards {
        padding: 30px 0;
        overflow-x: auto;
        justify-content: normal;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding-top: 40px;
    height: calc(100% - 40px);

    .wrapper_scroll {
      gap: 40px;
      height: calc(100% - 40px);
    }

    .wrapperCards {
      padding: 0 40px;
      width: calc(100% - 80px);
      .content_cards {
        padding: 30px 0;
        overflow-x: auto;
        justify-content: normal;
      }
    }

    .wrapper_scroll > .wrapperCards > .content_cards {
      border-bottom: 1px solid #c3c6c8;
    }

    .secondaryWrapper {
      .titleSecond {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .wrapperCards {
      width: calc(100% - 60px);
      padding: 0 30px;
    }
    .secondaryWrapper {
      .titleSecond {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
