.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  background-color: #f4f4f4;

  .wrapperCards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 28px;
  }
}

@media (max-width: 1500px) {
  .container {
    .wrapperCards {
      gap: 15px;
    }
  }
}
