.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .container {
    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    .desktop {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}
