.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	position: relative;

	.content {
		width: 100%;
		height: calc(100% - 180px);
 
		z-index: 1;
		position: relative;
	}
}

@media (max-height: 1000px) {
	.container {

		.content {
			height: calc(100% - 130px);
			position: relative;
		}

		.actions {
			height: 130px;
		}
	}
}