.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .prepare_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
  }

  .plyer_content {
    height: calc(var(--vh, 1vh) * 100 - 32px - 24px - 39px - 30px - 48px);
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .player_visible {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .container {

    .plyer_content {
      min-height: calc(var(--vh, 1vh) * 100 - 10px - 30px - 39px - 30px - 48px);
      height: auto;
    }
  }
}
