.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 86px - 30px);
	position: relative;

	.content {
		flex: 1;
		min-height: 400px;
		height: 100%;
		width: 100%;
		z-index: 1;
		position: relative;
	}
}