.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	.content {
		width: 100%;
		height: calc(100% - 180px);
	}

	.loader {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.actions {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
		height: 180px;
	}

}

@media (max-height: 1000px) {
	.container {

		.content {
			height: calc(100% - 130px);
		}

		.actions {
			height: 130px;
		}
	}
}