.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  .content_wrap_section {
    flex: 1;
    min-height: 400px;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
  }
}
.wrapControl {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media (max-width: 720px) {
  .wrapControl {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
