.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.loader {
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #c3c6c8;
  border-right-color: var(--main-color-block);
  border-top-color: var(--main-color-block);
  border-bottom-color: var(--main-color-block);
  animation: l2 2s infinite linear;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color-text);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
