.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px;
  width: 790px;
  height: 330px;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .close {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      text-align: center;

      .icon {
        width: 30px;
        height: 30px;
        background-color: var(--main-color-block);
        border-radius: 50%;
        padding: 20px;

        & svg {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        color: #000000;
      }

      .subtitle {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        color: #000000;
      }
    }
  }

  .content {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      display: flex;
      border: 1px solid var(--main-color-block);
      border-radius: 40px;
      width: 80%;

      & input {
        width: 100%;
        padding: 20px 25px;
        border: none;
        outline: none;

        color: #697172;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }

      .button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px 30px;
        color: #fff;
        background-color: var(--main-color-block);
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        cursor: pointer;

        .button_text {
          font-size: 17px;
          line-height: 20px;
          font-weight: 700;
          white-space: nowrap;
        }

        .button_icon {
          display: flex;
        }
      }
    }

    .message {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      .message_text {
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: var(--main-color-block);
      }
    }

    .input.copied + .message {
      display: flex;
      opacity: 1;
      animation: fadeIn 0.5s ease-in-out;
    }

    .input.copied {
      display: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 40px 25px;
    width: calc(100vw - 50px);
    height: calc((var(--vh, 1vh) * 100) - 80px);

    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }
    .content {
      flex: 1;
      align-items: flex-start;

      .message {
        align-items: flex-start;
      }
    }
  }
}
