.container {
	display: flex;
	flex-direction: column;
	gap: 30px;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .title {
      color: #000;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.36px;
    }
    .subtitle {
      max-width: 1000px;
      color: var(--main-text-color);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px; /* 137.5% */
    }
  }

	.buttons {
		display: flex;
		justify-content: center;
		gap: 40px;

	}
}
