.container {
  border-radius: 2px;
  border: 1px solid #e1e2e3;
  display: flex;

  .decrement {
    display: flex;
    height: 34px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
		cursor: pointer;
  }
  .value {
    display: flex;
    height: 34px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;

    color: var(--main-color-text);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.12px;

		border-left: 1px solid #e1e2e3;
		border-right: 1px solid #e1e2e3;
  }
  .increment {
    display: flex;
    height: 34px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
		cursor: pointer;
  }
}
