.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    & img {
      width: 160px;
			height: 120px;
    }
  }

  .text {
    padding-top: 95px;
    .subtitle {
      color: #2f3132;
      text-align: center;
      font-family: BrownPro;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 133.333% */
    }
    .title {
      color: #2f3132;
      font-family: BrownPro;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
    }
  }
}
