.container_screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);

  .container_modal_center {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .container_modal_right {
    background: #fff;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0;
    z-index: 999;
  }
}

@media (max-width: 1000px) {
  .container_screen {
    height: calc(var(--vh, 1vh) * 100);
    .container_modal_center {
      left: auto;
      top: auto;
      transform: none;
    }
    .container_modal_right {
      right: auto;
      left: auto;
      top: auto;
      transform: none;
      height: calc(var(--vh, 1vh) * 100);
      width: 100vw;
    }
  }
}
