.button {
  max-width: 100%;
  display: inline-block;
  padding: 20px 60px;
  text-decoration: none;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.25px;
  white-space: nowrap;
}

.button_contained {
  background-color: var(--main-color-block);
  color: #ffffff;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--main-color-block);
}

.button_contained:hover {
  background-color: #7044d7;
  border: 1px solid var(--main-color-block);
}

.disabled_contained {
  opacity: 0.6;
  pointer-events: none;
}

.button_based {
  color: var(--main-color-block);
  background-color: #ffffff;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid #ffffff;
}

.button_based:hover {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.12);
}

.disabled_based {
  opacity: 0.6;
  pointer-events: none;
}

.button_outlined {
  color: var(--main-color-block);
  background-color: #ffffff;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--main-color-block);
}

.button_outlined:hover {
  border: 3px solid var(--main-color-block);
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.12);
}

.disabled_outlined {
  opacity: 0.6;
  pointer-events: none;
}

@media (max-width: 992px) {
  .button {
    padding: 14px 40px;
    font-size: 14px;
  }

  .button:focus {
    outline: 3px solid #7f9be6;
  }
}
