version: '3'

services:
  postgres:
      image: postgres
      container_name: logitech-postgres
      ports:
        - '5432:5432'
      restart: always
      env_file:
        - ./server/.env
      volumes:
        - postgres-db:/var/lib/postgresql/data
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    restart: always
    depends_on:
      - postgres

volumes:
  postgres-db:
