.container {
	.logo {
		& img {
			max-width: 235px;
		}
  }

  .image {
  }

  .title {
    color: var(--main-color-text);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}