.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
	.logo {
    display: flex;
    justify-content: center;
		& img {
      height: 30px;
		}
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & img {
      height: 40%;
      max-height: 100px;
    }
  }

  .title {
    color: var(--main-color-text);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}