.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  
	.logo {
    display: flex;
    justify-content: center;
		& img {
      height: 30px;
		}
  }

  .image {
    display: flex;
    justify-content: center;
    & img {
      height: 100px;
    }
  }

  .title {
    color: var(--main-color-text);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}