.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  background: #f4f4f4;
  cursor: pointer;

	.value {
		align-items: center;

		& div {
			color: #6f7678;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
	}
	.icon {
		width: 14px;
		width: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

  .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    background: #f4f4f4;
  }

  .options li {
    padding: 5px 20px;
    cursor: pointer;

    .icon {
      width: 10;
      height: 10;
      display: none;
    }

    .text {
      color: #004770;
      font-size: 16px;
      font-weight: 400;
      line-height: 29px;
    }
  }

  .options li:hover {
    background-color: #f3f3f3;
  }
}
