.container_text_dimension {
  position: relative;

  .text_dimension {
    position: absolute;
		width: 300px;

    .text {
      color: var(--main-color-text);
      font-size: 10px;
      font-style: italic;
      font-weight: 300;
      line-height: 10.8px;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
}
