.container_text_dimension {
  position: relative;

  .text_dimension {
    position: absolute;
		width: 250px;

    .text {
      color: var(--main-color-text);
      font-size: 13px;
      font-style: italic;
      font-weight: 300;
      line-height: 10.8px;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1500px) {
  .container_text_dimension {
    .text_dimension {
      .text {
        font-size: 12px;
        line-height: 10px;
      }
    }
  }
  
}

@media screen and (max-width: 992px) {
  .container_text_dimension {
    .text_dimension {
      width: 180px;
      .text {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}
