.container {
  flex: 1;
  padding-top: 30px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;

  .cards {
    display: flex;
    align-items: stretch;
    // flex-wrap: wrap;
    gap: 60px;
    // justify-content: center;
    overflow-x: auto;
    // width: 90%;
    padding-top: 20px;
  }

  .secondaryCards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 90%;
  }

  .cards::-webkit-scrollbar {
    height: 0px;
    background: transparent;
  }
}

@media (max-width: 1700px) {
  .container {
    width: 85%;

    .cards {
      gap: 30px;
      width: 99%;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    width: 85%;

    .cards {
      gap: 30px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding-top: 10px;
    height: calc(100% - 10px);
    gap: 40px;
    width: 100%;
    max-width: 100%;

    .cards {
      flex-wrap: nowrap;
      justify-content: normal;
      padding: 20px 40px;
      gap: 20px;
      overflow-x: scroll;
      width: 90%;
    }

    .cards::-webkit-scrollbar {
      height: 0px;
      background: transparent;
    }

    .secondaryCards {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .container {
    gap: 30px;

    .cards {
      padding: 20px;
      gap: 20px;
    }
  }
}
