.container {
  flex: 1;
  padding-top: 30px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  max-width: 90%;

  .button_link {
  }

  .wrapper_cards {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .cards {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 60px;
      justify-content: center;
    }
  }

  .form {
    max-width: 1019px;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 85%;

    .wrapper_cards {
      .cards {
        gap: 30px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding-top: 10px;
    height: calc(100% - 10px);
    gap: 40px;
    width: 100%;
    max-width: 100%;

    .wrapper_cards {
      width: 100%;

      .cards {
        flex-wrap: nowrap;
        justify-content: normal;
        padding: 20px 40px;
        gap: 20px;
        overflow-x: scroll;
      }

      .cards::-webkit-scrollbar {
        height: 0px;
        background: transparent;
      }
    }

    .form {
      padding: 0 40px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    gap: 30px;

    .wrapper_cards {
      .cards {
        padding: 20px;
        gap: 20px;
      }
    }

    .form {
      padding: 0 20px;
    }
  }
}
