.container {
  flex: 1;
  padding-top: 30px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  max-width: 90%;

  background-color: #f4f4f4;

  .button_link {
  }

  .wrapper_cards {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .cards {
      display: flex;
      align-items: stretch;
      gap: 60px;
    }
  }

  .form {
    max-width: 1019px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .container {
    padding-top: 10px;
    height: calc(100% - 10px);
    gap: 50px;
    width: 100%;
    max-width: 100%;

    .wrapper_cards {
      width: 100%;

      .cards {
        padding: 0 40px;
        gap: 20px;
        padding-top: 20px;
        overflow-x: scroll;
      }
    }

    .form {
      padding: 0 40px;
    }
  }
}
