.container {
  position: relative;
  display: flex;
  gap: 25px;
  padding: 10px 10px;
	width: fit-content;
  background: transparent;
	border: 1px solid #C3C6C8;
  cursor: pointer;

	.value {
		align-items: center;

		& div {
			color: #2F3132;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
		}
	}
	.icon {
		width: 14px;
		width: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

  .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFFFFF;
  }

  .options li {
    padding: 5px 20px;
    cursor: pointer;

    .icon {
      width: 10px;
      height: 10px;
      display: none;
    }

    .text {
      color: #004770;
      font-size: 16px;
      font-weight: 400;
      line-height: 29px;
    }
  }

  .options li:hover {
    background-color: #f3f3f3;
  }
}
