.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .image {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    & img {
      max-width: 160px;
      max-height: 120px;
    }
  }

  .text {
    .subtitle {
      color: var(--main-color-text);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
    .title {
      color: var(--main-color-text);
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
    }
  }
}
