.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .image {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    & img {
      max-width: 160px;
      max-height: 120px;
    }
  }

  .text {
    color: var(--main-color-text);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    .subtitle {
      font-weight: 700;
    }
    .title {
      font-weight: 300;
    }
  }
}

@media (max-width: 900px) {
  .container {
    .text {
      white-space: nowrap;
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .text {
      white-space: nowrap;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
