.container {
	.image {
    & img {
      width: 160px;
			height: 120px;
    }
  }

  .text {
    padding-top: 95px;

    .subtitle {
      color: var(--main-color-text);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
    .title {
      color: var(--main-color-text);
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
    }
  }
}