.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  .image {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 100%;
    padding: 86px 0 0 0;
    box-sizing: content-box;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .text {
    color: var(--main-color-text);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    padding: 0 20px 50px;
    .subtitle {
      font-weight: 700;
    }
    .title {
      font-weight: 300;
    }
  }
}

@media (max-width: 1500px) {
  .container {
    width: 13vw;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 14vw;
    .image {
      padding: 56px 0 0 0;
    }
  }
}
@media (max-width: 1220px) {
  .container {
    width: 200px;
    .image {
      padding: 56px 0 0 0;
    }
  }
}
@media (max-width: 1000px) {
  .container {
    width: 271px;
    .image {
      padding: 0 0 0 0;
      height: 200px;
    }
    .text {
      padding: 0 20px 40px;
    }
  }
}
@media (max-width: 800px) {
  .container {
    width: calc(40.2vw - 60px);
  }
}
@media (max-width: 720px) {
  .container {
    width: 37.5vw;
  }
}
@media (max-width: 610px) {
  .container {
    width: 260px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 180px;
    .image{
      padding: 22px 0 0 0;
      height: auto;
    }
    .text {
      padding: 0 20px 24px;
    }
  }
}
