.cameraControlTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }

  .icons_wrapper {
    display: flex;
    align-items: stretch;
    gap: 30px;

    .icon_wrapper {
      max-width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .text {
        font-size: 20px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        color: #fff;
      }
    }
  }
}

.desktop {
  display: flex;
}

.tablet {
  display: none;
}

@media (max-width: 600px) {
  .cameraControlTab {
    .title {
      font-size: 26px;
      line-height: 1.3;
    }

    .icons_wrapper {
      gap: 20px;

      .icon_wrapper {
        max-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        & svg {
          width: 50px;
          height: 50px;
        }

        .text {
          width: 90px;
          font-size: 16px;
          line-height: 1.3;
        }
      }
    }
  }
  .desktop {
    display: none;
  }
  .tablet {
    display: flex;
  }
}
