.cameraControlTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }

  .icons_wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    .icon_wrapper {
      max-width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .text {
        font-size: 20px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        color: #fff;
      }
    }
  }
}
