.sub_section_card_software {
  .header {
    width: 100%;
    display: flex;
    align-items: center;

    .title {
			color: var(--main-color-text);
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.3;
    }
  }

  .wrapper_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
