.recommended_display {
	width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;

  .icon {
    height: 15px;
    display: flex;
    align-items: center;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
  .text {
		white-space: nowrap;
		// color: var(--main-color-text);
		// width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
  }
}
