.container {
  display: flex;
  align-items: center;
  gap: 70px;

  .left_content {
    .image {
      width: 320px;
      height: 210px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .right_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        color: var(--main-color-block);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
      }
      .subtitle {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
      }
    }

    .part_number {
      color: #000;
      font-style: normal;

      .part_number_text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
      }
      .part_number_value {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .count {
      color: #000;
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px;
    }

    .amount {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #000;
			font-style: normal;
			font-style: normal;
			line-height: 22px;
      font-style: normal;
			line-height: 22px;
      text-transform: uppercase;

      .amount_value {
        font-size: 30px;
        line-height: 32px;
        font-weight: 300;
      }

      .amount_text {
        font-size: 16px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
      }
    }

    .value {
      color: var(--main-color-text);
      font-size: 24px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
