.container_display_toggle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;

  .button {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 6px;
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 0px #0000001a;
    cursor: pointer;

    .icon {
      height: 15px;
      display: flex;
      align-items: center;

      & svg {
        height: 100%;
        width: 100%;
      }
    }

    .text {
      color: var(--main-color-text);
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      text-align: center;
    }
  }

  .button:hover {
    box-shadow: 0px 4px 16px 0px #00000026;

    .icon {
      & svg {
        & rect {
          stroke: var(--main-color-block);
        }
      }
    }
  }

  .button_active {
    border: 1px solid var(--main-color-block);
    box-shadow: 0px 2px 10px 0px #0000001a;

    .icon {
      & svg {
        & rect {
          stroke: var(--main-color-block);
        }
      }
    }
  }
}
