.container {
	padding: 50px 20px;
	padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  .content {
		padding: 0 40px;
		max-width: 350px;
		height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header_title {
        color: var(--main-color-block);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
				padding-bottom: 10px;
      }
      .title {
        color: var(--main-color-text);
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
      .subtitle {
        color: var(--main-color-text);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
    }

    .desc {
      color: var(--main-color-text);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
    }

    .actions {
    }
  }

  .info {
		display: flex;
		justify-content: flex-end;
  }
}
