.container {
  height: 100%;
  position: relative;
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    gap: 22px;
  }

  .content {
    max-width: 357px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header_title {
        color: var(--main-color-block);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
      .title {
        color: var(--main-color-text);
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
      }
      .subtitle {
        color: var(--main-color-text);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
      }
    }

    .desc {
      color: var(--main-color-text);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
  }

  .info {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  .info_mobile {
    display: none;
  }
}

@media (max-width: 1300px) {
  .container {
    .wrapper {
      padding: 30px 20px;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .content {
      .header {
        .header_title {
          font-size: 18px;
          padding-bottom: 0;
        }
        .title {
          font-size: 20px;
        }
        .subtitle {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    align-items: center;

    .wrapper {
      padding: 40px 20px;
      gap: 20px;
    }

    .content {
      padding: 0;
      height: 100%;
      min-width: 230px;
      max-width: 230px;

      .header {
        .header_title {
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 0;
        }
        .title {
          font-size: 18px;
          line-height: 24px;
        }
        .subtitle {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .info {
      display: none;
    }

    .info_mobile {
      display: flex;
      justify-content: center;
      width: 100%;

      .info_button_mobile {
        display: flex;
        padding: 8px 33px;
        border-radius: 40px;
        background-color: #f4f4f4;

        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .wrapper {
      padding: 30px 20px;
    }
  }
}
