.container {
  height: calc(var(--vh, 1vh) * 100 - 32px - 24px - 39px);
}

@media (max-width: 720px) {
  .container {
    height: calc(var(--vh, 1vh) * 100 - 10px - 30px - 39px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .content {
    flex: 1;
    height: 100%;
    width: 100%;
  }
}
