.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;

  .content {
    height: calc(100vh - 86px - 30px);
  }
}

@media (max-width: 900px) {
  .container {
    height: calc(var(--vh, 1vh) * 100);

    .content {
      height: calc((var(--vh, 1vh) * 100) - 86px - 30px);
    }
  }
}
