.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: calc(var(--vh, 1vh) * 100 - 32px - 24px - 39px);
  height: 100%;
}

@media (max-width: 720px) {
  .container {
    min-height: calc(var(--vh, 1vh) * 100 - 10px - 30px - 39px);
  }
}
