.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

@media (max-width: 992px) {
  .container {
    padding-top: 40px;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-top: 20px;
    gap: 30px;
  }
}
