.container {
	flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color-background);
	
  height: 100%;
  position: relative;

}
.wrapControl {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media (max-width: 720px) {
  .wrapControl {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
