.container {
	flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
	
  height: 100%;
  position: relative;

}
.wrapControl {
  padding-top: 50px;
  padding-bottom: 80px;
}

@media (max-width: 1300px) {
  .wrapControl {
    padding-top: 20px; 
  }
}

@media (max-width: 992px) {
  .wrapControl {
    padding-top: 20px;
    
  }
}
@media (max-width: 720px) {
  .wrapControl {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
