.container {
  background-color: #fff;
  padding: 50px 20px;
  cursor: pointer;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  // min-width: 13%;
  border: 1px solid transparent;

  .button {
    margin: 0;
    cursor: pointer !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px dotted var(--main-color-block);
    position: absolute;
    top: -15px;
    right: 20px;
    box-shadow: 0 0 0 5px #f4f4f4;
    transition: background-color 0.25s;
  }

  .button_active {
    background: var(--main-color-block)
      url(https://cdn.spectrumcustomizer.com/logitech/room/frontend/img/checkmark.svg)
      50% no-repeat !important;
    background-size: 14px !important;
    border-style: solid;
  }

  .wrapper {
    width: 100%;
  }

  .recommended {
    position: absolute;
    left: 0;
    top: 10%;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;

    border-radius: 0px 2px 2px 0px;
    background-color: #e1e2e3;

    .text {
      color: #000;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 109.091% */
      text-transform: uppercase;
    }
  }
}

.container_disabled {
  opacity: 0.35;
}

.container_active {
  border: 1px solid var(--main-color-block);
}
