.container {
	display: grid;
  grid-template-columns: 65% 35%;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;

	.player {
		width: 100%;
		height: 100%;
		position: relative;

		.widgets {
			position: absolute;
			right: 5%;
			bottom: 5%;
		}
	}
 

}