.container_configuratorSection {
  height: 100%;
  width: 100%;
  position: relative;

  .wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 60px;
    height: calc(100% - 60px);
    width: 100%;
  }

  .player {
    width: 100%;
    height: 100%;
    position: relative;

    .widgets {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}

@media (max-width: 1200px) {
  .container_configuratorSection {
    .wrapper {
      grid-template-columns: 50% 50%;
    }
  }
}

@media (max-width: 1000px) {
  .container_configuratorSection {
    .wrapper {
      padding-top: 40px;
      height: calc(100% - 60px);
      grid-template-columns: auto;
      grid-template-rows: 45% 55%;
    }
  }
}
