.container_configuratorSection {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  padding-top: 60px;
  height: calc(100% - 60px);

  .player {
    width: 100%;
    height: 100%;
    position: relative;

    .widgets {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}

@media (max-width: 1200px) {
  .container_configuratorSection {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1000px) {
  .container_configuratorSection {
    padding-top: 40px;
    height: calc(100% - 40px);
    grid-template-columns: auto;
    grid-template-rows: 45% 55%;
  }
}
