.container_configuratorSection {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;

  padding-top: 60px;
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  position: relative;

  .player {
    width: 100%;
    height: 100%;
    position: relative;

    .widgets {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}

@media (max-width: 1200px) {
  .container_configuratorSection {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1000px) {
  .container_configuratorSection {
    padding-top: 40px;
    grid-template-columns: auto;
    grid-template-rows: 45% 55%;
  }
}
