.container {
	display: grid;
  grid-template-columns: 60% 40%;
	height: 100%;
	width: 100%;
	position: relative;

	.player {
		width: 100%;
		height: 100%;
		position: relative;

		.widgets {
			position: absolute;
			right: 5%;
			bottom: 5%;
		}
	}
 

}