form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 20px;
	width: 100% !important;
}

.mktoFormRow {
	font-family: BrownPro;
	& label {
		display: none;
	}

	& input, & select {
		width: 100% !important;
		background-color: #f4f4f4 !important;
		padding: 25px 20px !important;
		border: none !important;
		outline: none !important;
		color: #6f7678 !important;
		font-size: 18px !important;
		font-style: normal !important;
		font-weight: 400 !important;
		line-height: 24px !important;
	}

	& select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%236f7678" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
		background-repeat: no-repeat;
		background-position: right 20px center;
	}

	#honeypot, #lastFormURL, #lastFormReferrer {
		display: none;
	}
}

.mktoFormRow:nth-child(9) {
	display: none;
}

.mktoFormRow:nth-last-child(-n + 13) {
	display: none;
}

.mktoFormRow:nth-child(13) {
	grid-column: span 2 !important;
}
.mktoFormRow:nth-child(14) {
	grid-column: span 2 !important;
}
.mktoFormRow:nth-child(15) {
	padding-top: 20px;
	grid-column: span 2 !important;

	& .mktoHtmlText {
		width: 100% !important;
	}

	& p {
		width: fit-content;
		color: #2F3132;
		font-family: BrownPro;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;

		& a {
			color: var(--Logitech-Colors-Kohle, #2F3132);
			font-family: BrownPro;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-decoration-line: underline;
		}
	}
}
.mktoFormRow:nth-child(16) {
	grid-column: span 2 !important;

	& .mktoLogicalField {
		width: 100% !important;
		display: flex;
		gap: 16px;
		justify-content: flex-start;
		align-items: center;

		& input {
			width: 22px !important;
			height: 22px !important;
			border: 1px solid #C3C6C8 !important;
			background: #FFF !important;
		}

		& label {
			margin: 0 !important;
			color: #2F3132;
			font-family: BrownPro;
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 20px;
		}
	}
}
.mktoFormRow:nth-child(17) {
	grid-column: span 2 !important;

	& .mktoLogicalField {
		width: 100% !important;
		display: flex;
		gap: 16px;

		& input {
			width: 22px !important;
			height: 22px !important;
			border: 1px solid #C3C6C8 !important;
			background: #FFF !important;
		}

		& label {
			width: 630px !important;
			margin: 0 !important;
			color: #2F3132;
			font-family: BrownPro;
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 20px;

			& a {
				color: #2F3132;
				font-family: BrownPro;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 20px;
				text-decoration-line: underline;
			}
		}
	}
}

.mktoFieldWrap {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 100% !important;
}

.mktoFieldDescriptor {
	width: 100% !important;
}

.mktoOffset {
	display: none;
}

.mktoButtonRow {
	grid-column: span 2 !important;
	padding-top: 50px !important;

	& .mktoButtonWrap {
		margin: 0 !important;
	}

	& button {
		display: inline-block;
		padding: 19px 60px;
		text-decoration: none;
		align-items: center;
		border-radius: 40px;
		cursor: pointer;

		color: #fff;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 26px;
		letter-spacing: -0.25px;

		background-color: var(--main-color-block);
		box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.12);
		border: 1px solid var(--main-color-block);
	}

	& button:hover {
		color: var(--main-color-block);
		background-color: #ffffff;
		border: 1px solid var(--main-color-block);
	}
}