.container {
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 50px;
	max-height: 90vh;
	overflow-y: auto;

  .header {
    width: 100%;
    .close {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      & div {
        div {
          width: 30px;
          height: 30px;
        }
      }
    }

    .text {
      padding-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .title {
        color: #000;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 100% */
        letter-spacing: -1px;
      }
      .subtitle {
        color: #697172;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px; /* 137.5% */
      }
    }
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
  }

  .form > div:nth-last-child(-n + 2) {
    grid-column: span 2;
  }

  .additional_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .support_link {
      display: flex;
      color: var(--main-color-text);
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;

			& a {
				padding-left: 5px;
				color: var(--main-color-text);
			}
    }

    color: var(--main-color-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }

  .actions {

  }
}
