.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  height: 100%;

  .wrapper {
    display: flex;
    gap: 22px;
    width: 100%;
    height: 100%;
  }

  .left_content {
    padding: 25px 0;
    .image {
      max-width: 151px;
      min-width: 151px;
      height: 90px;
      & img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
  }

  .right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .header {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 20px;

      .header_title {
        color: var(--main-color-block);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
      }

      .title {
        color: var(--main-color-text);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
      }

      .subtitle {
        color: var(--main-color-text);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }

    .content {
      display: flex;
      width: 100%;

      .content_actions {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}
