.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  height: 100%;

  .wrapper {
    display: flex;
    gap: 22px;
    width: 100%;
    height: 100%;
  }

  .left_content {
    padding: 25px 0;
    .image {
      max-width: 151px;
      min-width: 151px;
      height: 90px;
      & img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
  }

  .right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .header {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 20px;

      .header_title {
        color: var(--main-color-block);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
      }

      .title {
        color: var(--main-color-text);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
      }

      .subtitle {
        color: var(--main-color-text);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }

    .content {
      display: flex;
      width: 100%;

      .actions {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
      }

      .info_mobile {
        display: none;
      }
    }

    .content_actions {
      border-top: 1px solid #e1e2e3;

      .actions {
        padding-top: 20px;
      }
    }
  }
}

.card_container,
.card_container_sub {
  padding: 25px 20px;
}

.card_container_sub {
  border: 2px solid #f4f4f4;

  & button {
    box-shadow: 0 0 0 5px #ffff !important;
    width: 26px !important;
    height: 26px !important;
    background-size: 12px !important;
  }
}

.card_container_sub_active {
  border: 2px solid var(--main-color-block);
}

@media (max-width: 900px) {
  .container {
    flex-direction: row;

    .wrapper {
      height: 100%;
      min-width: 230px;
      flex-direction: column;

      .left_content {
        padding: 0;

        .image {
          min-width: 100%;
          max-width: 100%;
          height: 100px;
          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .right_content {
        height: 100%;
        gap: 20px;

        .header {
          gap: 10px;
          padding-bottom: 0;
          text-align: center;

          .header_title {
            font-size: 18px;
            line-height: 24px;
          }

          .title {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            max-width: 270px;
          }

          .subtitle {
            display: none;
          }
        }

        .content {
          flex-direction: column;
          align-items: center;
          gap: 20px;
          width: 100%;
          height: 100%;

          .actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;
            width: 100%;
          }

          .info {
            display: none;
          }

          .info_mobile {
            display: flex;
            padding: 8px 33px;
            border-radius: 40px;
            background-color: #f4f4f4;

            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
          }
        }

        .content_actions {
          border-top: none;

          .actions {
            padding-top: 0;
          }
        }
      }
    }
  }

  .card_container_mobile {
    height: 100%;
  }
}
