.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  height: 100%;

  .wrapper {
    display: flex;
    gap: 22px;
    width: 100%;
    height: 100%;
  }

  .left_content {
    padding: 25px 0;
    .image {
      max-width: 151px;
      min-width: 151px;
      height: 90px;
      & img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
  }

  .right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .header {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .header_title {
        color: var(--main-color-block);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
      }

      .title {
        color: var(--main-color-text);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
      }

      .subtitle {
        color: var(--main-color-text);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }

    .content {
      display: flex;
      width: 100%;

      .actions {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #e1e2e3;
    }
  }
}

.card_container,
.card_container_sub {
  padding: 25px 20px;
}

.card_container_sub {
  border: 2px solid #f4f4f4 !important;

  & button {
    box-shadow: 0 0 0 5px #ffff !important;
    width: 26px !important;
    height: 26px !important;
    background-size: 12px !important;
  }
}

.card_container_sub_active {
  border: 2px solid var(--main-color-block);
}

@media (max-width: 1000px) {
  .container {
    gap: 20px;

    .wrapper {
      gap: 20px;
    }

    .left_content {
      padding: 10px 0;
    }

    .right_content {
      gap: 10px;
    }
  }

  .card_container_sub {
    padding: 15px 20px;

    .left_content {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .image {
        max-width: 100px;
        min-width: 100px;
        height: 75px;
        & img {
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
  }
}
