.container {
  display: flex;
	gap: 22px;
  width: 100%;
  height: 100%;

  .left_content {
		padding: 25px 0;
    .image {
    }
  }

  .right_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.header {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.header_title {
				color: var(--main-color-block);
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
			}
	
			.title {
				color: var(--main-color-text);
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 22px;
			}

		}
    

    .content {
      display: flex;
			width: 100%;

      .info {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
