.container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;

  .check {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px dotted var(--main-color-block);
    transition: background-color 0.25s;
  }

  .check_active {
    background: var(--main-color-block)
      url(https://cdn.spectrumcustomizer.com/logitech/room/frontend/img/checkmark.svg)
      50% no-repeat !important;
    background-size: 14px !important;
    border-style: solid;
  }

  .text {
    color: var(--main-color-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
  }
}

@media (max-width: 992px) {
  .container {
    .check {
      min-width: 25px;
      min-height: 25px;
    }

    .text {
      font-weight: 300;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .check {
      min-width: 20px;
      min-height: 20px;
    }
  }
}
