.actions {
  display: flex;
  align-items: center;
  gap: 20px;

  .back_button {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    & svg {
      transform: scaleX(-1);
    }

    .text {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #000000;
    }
  }
  .next_button {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #000000;
    }
  }
  .skip_button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
