.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 25px;

	width: 790px;
	height: 457px;

  .header {
    width: 100%;
    display: flex;

    .close {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

	.content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;

		.icon {
			display: flex;
		}

		.title {
			text-align: center;
			max-width: 600px;
			font-size: 36px;
			line-height: 46px;
			font-weight: 700;

			color: #000000;
		}

		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
		}

	}
}
