.container {
  min-height: 100vh;
  max-height: fit-content;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 60px;
  position: relative;

  .rooms {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .wrapper_room {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .divider_dashes {
        border-top: 1px dashed #e1e2e3;
        height: 5px;
      }
      .divider_solid {
        border-top: 1px solid #C3C6C8;
        height: 5px;
      }
    }
  }

  .loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
