.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
  position: relative;
  height: 100%;

  .rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .wrapper_room {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .divider {
        border-top: 1px dashed #e1e2e3;
        height: 5px;
      }
    }
  }

  .loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
