.container {
	position: absolute;
	right: 20px;
	bottom: 73px;

	& svg {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		display: flex;
		bottom: auto;
		top: 20px;
		right: 40px;
	}
	
}