:root {
  /* --main-color-text: #414042;  */
  --main-color-block: #814EFA;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.test_scene {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  height: 100vh;
  background-color: #F4F4F4;
}