.container {
  .title {
    color: var(--main-color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 15px;
  }
  .divider {
    border-top: 1px solid #c3c6c8;
    height: 1px;
  }
  .cards {
    padding-top: 45px;
    .wrapper {
      .divider {
        border-top: 1px dashed #e1e2e3;
        height: 1px;
      }
    }
  }

  .bundle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .bundleText {
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .cards {
      padding-top: 0;
      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
      }
    }
  }
}
