.container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: var(--main-color-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
  }
}

.button_outlined,
.button_contained {
  display: flex;
  padding: 19px 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;

  border-radius: 40px;
  border: 1px solid var(--main-color-block);
  background-color: #ffffff;

  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);

  .text {
    color: var(--main-color-block);
    line-height: 20px;
  }
}

.only_icon {
  border: none;
}

.button_contained {
  background-color: var(--main-color-block);
  .text {
    color: #ffffff;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 500px) {
  .button_outlined,
  .button_contained {
    .text {
      line-height: 20px;
    }
  }
}
