.container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  .icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: var(--main-color-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
  }
}
