.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  .image_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    pointer-events: none;
  }

  .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
  }

  .content {
    max-width: 790px;
    display: flex;
    flex-direction: column;
    // gap: 30px;
    padding-bottom: 30px;
    flex: 1;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
      .header_title {
        color: var(--main-color-block);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
      }

      .title {
        color: #000;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.36px;
      }
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      .block {
        text-align: start;
        max-width: 450px;
        color: var(--main-color-text);
        font-style: normal;
        .block_title {
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
          color: #697172;
        }

        .block_list {
          margin-top: 0;
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;
        }
      }
    }

    .type_user {
      display: flex;
      flex-direction: column;

      .type_user_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }
    }

    .mobile_link {
      display: none;
    }
  }
}

@media (max-width: 1320px) {
  .container {
    .image {
      width: 120%;
    }
  }
}
@media (max-width: 992px) {
  .container {
    .image {
      width: 120%;
    }
    .content {
      padding: 0 40px 40px;

      .header_title {
        font-size: 16px;
      }
      .title {
        font-size: 32px;
        line-height: 38px;
      }
      .text {
        margin-bottom: 40px;
      }

      .description {
        width: 100%;
        margin-bottom: 40px;
        .block {
          text-align: start;
          max-width: fit-content;

          .block_title {
            font-size: 20px;
            font-style: normal;
            line-height: 1.3;
            font-weight: 700;
            color: #697172;
            margin-bottom: 10px;
          }

          .block_list {
            font-size: 18px;
            font-style: normal;
            line-height: 1.3;
            font-weight: 300;
            padding-inline-start: 20px;
            color: var(--main-color-text);
          }
        }
      }

      .type_user {
        .type_user_buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
@media (max-width: 760px) {
  .container {
    .content {
      .description {
        width: 90%;
        margin: 0 auto 30px;
      }
    }
  }
}
@media (max-width: 650px) {
  .container {
    .content {
      .description {
        width: 100%;
      }
    }
  }
}

@media (max-width: 640px) {
  .container {
    .image_wrap {
    }
    .image {
      width: 150%;
    }

    .content {
      // padding-top: 30px;

      .text {
        gap: 4px;
        margin-bottom: 16px;
        .header_title {
          font-size: 13px;
          line-height: 1.3;
        }

        .title {
          font-size: 24px;
          line-height: 1.3;
        }
      }

      .description {
        .block {
          .block_title {
            font-size: 14px;
            line-height: 1.3;
            margin-bottom: 6px;
          }

          .block_list {
            font-size: 12px;
            line-height: 1.3;
          }
        }
      }

      .type_user {
        margin-bottom: 30px;
        .type_user_buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          max-width: 60%;
          margin: 0 auto;
          & div {
            width: 100%;
          }
        }
      }

      .mobile_link {
        border-top: 1px solid #c3c6c8;
        padding: 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .link_title {
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .content {
      padding: 0 20px 30px;
    }
  }
}
@media (max-width: 420px) {
  .container {
    .image {
      width: 160%;
    }
  }
}

@media (max-width: 420px) and (max-height: 680px) {
  .container {
    .content {
      .description {
        margin: 0 auto 20px;
      }
      .type_user {
        margin-bottom: 20px;
      }
      .mobile_link {
        padding: 20px 0 0;
      }
    }
  }
}

// @media (max-height: 900px) {
//   .container {
//     .content {
//       gap: 20px;

//       .title {
//         font-size: 30px;
//       }
//     }
//   }
// }

// @media (max-width: 1000px) {
//   .container {

// }

// @media (max-width: 750px) {
//   .container {
//   }
// }

// @media (max-width: 550px) {

// }
