.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  gap: 20px;

  .image {
    height: 50vh;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    max-width: 790px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .header_title {
        color: var(--main-color-block);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
      }

      .title {
        color: #000;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.36px;
      }
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        text-align: start;
        max-width: 450px;
        color: var(--main-color-text);
        font-style: normal;
        .block_title {
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
          color: #697172;
        }

        .block_list {
          margin-top: 0;
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;
        }
      }
    }

    .type_user {
      display: flex;
      flex-direction: column;

      .type_user_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }
    }

    .mobile_link {
      display: none;
    }
  }
}

@media (max-height: 900px) {
  .container {
    height: calc(var(--vh, 1vh) * 100);

    .image {
      height: calc(var(--vh, 1vh) * 45);
    }
    .content {
      gap: 20px;

      .title {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .content {
      padding: 0 40px;

      .title {
        font-size: 32px;
        line-height: 38px;
      }

      .description {
        .block {
          text-align: start;
          max-width: 500px;

          .block_title {
            font-size: 20px;
            font-style: normal;
            line-height: 30px;
            font-weight: 700;
            color: #697172;
          }

          .block_list {
            font-size: 18px;
            font-style: normal;
            line-height: 24px;
            font-weight: 300;
            color: var(--main-color-text);
          }
        }
      }

      .type_user {
        .type_user_buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .container {
    .image {
      & img {
        width: 100%;
        height: 100%;
        object-fit: none;
      }
    }
  }
}

@media (max-width: 550px) {
  .container {
    .content {
      padding-top: 30px;

      .header_title {
        font-size: 13px;
        line-height: 20px;
      }

      .title {
        font-size: 24px;
        line-height: 28px;
      }

      .description {
        .block {
          .block_title {
            font-size: 14px;
            line-height: 18px;
          }

          .block_list {
            font-size: 11px;
            line-height: 15px;
          }
        }
      }

      .type_user {
        .type_user_buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }

      .mobile_link {
        border-top: 1px solid #c3c6c8;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .link_title {
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
        }
      }
    }
  }
}
