.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .image {
    height: 50vh;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    max-width: 790px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .header_title {
      color: var(--main-color-block);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }

    .title {
      color: #000;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.36px;
    }
    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .block_1 {
        text-align: start;
        max-width: 345px;
        color: var(--main-color-text);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
      }

      .block_2 {
        text-align: start;
        max-width: 345px;
        color: var(--main-color-text);
        font-size: 14px;
        font-style: normal;
        line-height: 18px;
        .block_2_title {
          font-weight: 700;
        }

        .block_2_list {
          font-weight: 300;
        }
      }

      .divider {
        width: 1px;
        height: 81px;
        background-color: #c3c6c8;
      }
    }

    .type_user {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .type_user_title {
        color: #000;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.3px;
      }

      .type_user_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

@media (max-height: 900px) {
  .container {
    .content {
      gap: 20px;

      .title {
        font-size: 30px;
      }

      .type_user {
        gap: 20px;
        .type_user_title {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    .content {
      .title {
        font-size: 32px;
        line-height: 38px;
      }

      .description {
        .block_1,
        .divider {
          display: none;
        }

        .block_2 {
          text-align: start;
          max-width: 500px;

          .block_2_title {
            font-size: 20px;
            font-style: normal;
            line-height: 30px;
            font-weight: 700;
            color: #697172;
          }

          .block_2_list {
            font-size: 18px;
            font-style: normal;
            line-height: 24px;
            font-weight: 300;
            color: var(--main-color-text);
          }
        }
      }

      .type_user {
        .type_user_title {
          display: none;
        }

        .type_user_buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .content {
      .type_user {

        .type_user_buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
