.container {
  background-color: #fff;
  padding: 50px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  min-width: 13%;
	
  .button {
    margin: 0;
    cursor: pointer !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px dotted #814efa;
    position: absolute;
    top: -15px;
    right: 30px;
    box-shadow: 0 0 0 5px #f4f4f4;
    transition: background-color 0.25s;
  }

  .button_active {
    background: #814efa
      url(https://cdn.spectrumcustomizer.com/logitech/room/frontend/img/checkmark.svg)
      50% no-repeat !important;
    background-size: 14px !important;
    border-style: solid;
  }

  .wrapper {
  }
}

.container_disabled {
	opacity: .35;
}
