.container {
  width: 100%;
  .list {
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      gap: 45px;
      width: 100%;

      .mark_item {
        min-width: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .line {
          width: 2px;
          height: 50%;
          background-color: transparent;
          transition: background-color 0.3s;
        }
        .line_visible {
          background-color: #c3c6c8;
        }
        .mark {
          margin: 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          width: 41px;
          height: 39px;
          border-radius: 50%;
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          transition: top 0.25s;
        }
      }

      .item {
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px 42px;
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
        margin-bottom: 30px;
        position: relative;

        .triangle {
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-right: 24px solid #ffffff;
          position: absolute;
          left: -24px;
          top: 54%;
          transform: translateY(-50%);
        }

        .header_item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .item_text {
            opacity: 0.5;
            display: flex;
            flex-direction: column;
            gap: 4px;
            .text {
              color: var(--main-color-text);
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.3;
            }
          }

          .edit_button {
            display: none;
          }
        }

        .actions {
          display: none;
        }
      }
    }

    .wrapper_not_disabled {
      .item {
        .header_item {
          .item_text {
            opacity: 1;
          }
          cursor: pointer;
        }
      }
    }

    .wrapper_active {
      .mark_item {
        .mark {
          width: 64px;
          height: 64px;

          top: -1px;
          transform: none;
        }
      }

      .item {
        padding: 28px 42px;
        gap: 20px;
        .triangle {
          top: 25%;
        }

        .header_item {
          .item_text {
            opacity: 1;
          }
        }

        .actions {
          display: flex;
          gap: 50px;
        }
      }
    }

    .wrapper_done {
      .item {
        .header_item {
          .edit_button {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    .list {
      .wrapper {
        gap: 30px;
        .item {
          padding: 16px;

          .triangle {
            border-right: 20px solid #ffffff;
            left: -20px;
            top: 56%;
          }

          .header_item {
            .item_text {
              .text {
                font-weight: 300;
              }
            }
          }
        }
      }
      .wrapper_active {
        .item {
          gap: 14px;
          padding: 16px;

          .triangle {
            top: 30%;
          }

          .header_item {
            .edit_button {
              display: none;
            }
          }
          .actions {
            gap: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .list {
      .wrapper {
        gap: 20px;
        .mark_item {
          min-width: 40px;

          .mark {
            width: 30px;
            height: 30px;

            & svg {
              width: 30px;
              height: 30px;
            }
          }
        }
        .item {
          padding: 10px 16px;
          margin-bottom: 25px;

          .triangle {
            border-right: 16px solid #ffffff;
            left: -16px;
            top: 50%;
          }

          .header_item {
            .item_text {
              .text {
                font-size: 16px;
              }
            }
          }
        }
      }
      .wrapper_active {
        .mark_item {
          .mark {
            width: 40px;
            height: 40px;

            & svg {
              width: 40px;
              height: 40px;
            }
          }
        }
        .item {
          gap: 10px;
          padding: 10px 16px;

          .triangle {
            top: 20px;
          }
          .actions {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }

      .wrapper_done {
        .item {
          position: relative;
          .header_item {
            .edit_button {
              position: absolute;
              top: -15px;
              right: 5px;
              display: block;

              & svg {
                width: 28px;
                height: 28px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .container {
    .list {
      .wrapper {
        .item {
          padding: 10px 12px;
          margin-bottom: 20px;
        }
      }
      .wrapper_active {
        .item {
          padding: 10px 12px;
        }
      }
    }
  }
}
