.container {
  .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    .item {
      opacity: 0.5;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      padding: 20px 42px;
      filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));

      .header_item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .title {
          color: var(--main-color-block);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
        }
        .text {
          color: var(--main-color-text);
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
        }
      }

      .actions {
        display: none;
      }

      .actions_active {
        display: flex;
        gap: 50px;
      }
    }

    .item_active {
      opacity: 1;
      padding: 28px 42px;
      gap: 20px;
    }
  }
}
