.container {
  width: 100%;
  .list {
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      gap: 45px;
      width: 100%;

      .mark_item {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .line {
          width: 2px;
          height: 50%;
          background-color: transparent;
          transition: background-color 0.3s;
        }
        .line_visible {
          background-color: #c3c6c8;
        }
        .mark {
          margin: 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          width: 41px;
          height: 39px;
          border-radius: 50%;
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          transition: top 0.25s;
        }
        .mark_active {
          left: -74%;
         
          top: 4%;
          transform: translateY(-50%);
          
        }
      }

      .item {
        width: 100%;
        opacity: 0.5;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px 42px;
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
        margin-bottom: 30px;
        position: relative;

        .triangle {
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-right: 24px solid #ffffff;
          position: absolute;
          left: -24px;
          top: 54%;
          transform: translateY(-50%);
        }

        .triangle_active {
          top: 18%;
          transform: translateY(-50%);
        }

        .header_item {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .title {
            color: var(--main-color-block);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
          }
          .text {
            color: var(--main-color-text);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
          }
        }

        .actions {
          display: none;
        }

        .actions_active {
          display: flex;
          gap: 50px;
        }
      }

      .item_active {
        opacity: 1;
        padding: 28px 42px;
        gap: 20px;
      }
    }
  }
}
