.annotationWrap {
  display: block;
  position: relative;
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0px;
    height: 0px;
    z-index: 800;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(0deg) translateX(-50%);
    box-sizing: border-box;
  }
}

.annotationWrap_top::before {
  bottom: calc(100% - 1px);
  border-width: 15px 12.5px 0 12.5px;
  transform: rotate(180deg) translateX(50%);
}

.annotationWrap_bottom::before {
  top: calc(100% - 1px);
  border-width: 15px 12.5px 0 12.5px;
}
