.annotationWrap {
  display: block;
  position: relative;
  // width: 100%;
  width: 200px;
  padding: 20px 55px 20px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: content-box;
  &::before {
    content: "";
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(0deg) translateX(-50%);
    box-sizing: border-box;
  }
  .labelText {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: var(--main-color-text);
    text-align: left;
    box-sizing: border-box;
  }
  .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    box-sizing: border-box;
  }
}
