.recommended_display {
  display: flex;
  flex: 3;
  align-items: center;
  gap: 8px;
  width: 100%;

  .icon {
    min-width: 30px;
    height: 15px;
    display: flex;
    align-items: center;

    & svg {
      height: 100%;
      width: 100%;

      & rect {
        stroke: var(--main-color-block);
      }
    }
  }
  .text {
    width: 100%;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
  }
}

@media (max-width: 992px) {
  .recommended_display {
    .text {
      font-size: 14px;
    }
  }
}

@media (max-width: 450px) {
  .recommended_display {
    .text {
      font-size: 12px;
    }
  }
}
