.container {
  display: flex;
  justify-content: center;
  gap: 50px;

  .left_content {
    .image {
      width: 450px;
      height: 250px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .right_content {
    flex: 1;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .title {
        color: #000;
        font-family: var(--p-font-family);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.3px;
      }
      .button_remove {
        background-color: #f4f4f4;
        padding: 10px 11px;
        border-radius: 50%;
      }
    }

    .desc {
      color: #697172;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
    }

    .buttons {
      display: flex;
      gap: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    gap: 15px;

    .right_content {
      .header {
        .title {
          font-size: 26px;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .container {
    .right_content {
      .buttons {
        flex-direction: column;
        max-width: 70%;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    gap: 30px;

    .left_content {
      .image {
        width: 100%;
        height: auto;
      }
    }

    .right_content {
      align-items: center;
      max-width: none;
      text-align: center;

      .header {
        .title {
          font-size: 24px;
          line-height: 28px;
        }
      }

      .buttons {
        flex-direction: row;
        max-width: none;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .right_content {
      .buttons {
        flex-direction: column;
      }
    }
  }
}
