.container {
  display: flex;
  flex-direction: column;
	align-items: center;
  gap: 60px;
  border-top: 4px solid #E2E2E2;

  .desc {
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    padding: 40px;

    .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      color: var(--main-color-text);
      width: 100%;
    }

    .total_amount {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 14px;
      .total {
        font-size: 34px;
        line-height: 32px;
        font-weight: 300;
        color: #797979;

      }

      .amount {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: #000;
        font-style: normal;
        text-transform: uppercase;
  
        .amount_value {
          font-size: 34px;
          line-height: 32px;
          font-weight: 300;
        }
  
        .amount_text {
          font-size: 20px;
          line-height: 22px;
          font-weight: 400;
        }
      }

    }

  }
  .buttons {
  }
}
