.container {
  display: flex;
  flex-direction: column;
	align-items: center;
  gap: 30px;

  .divider {
    border-top: 1px solid #697172;
    height: 1px;
  }
  .title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
  .subtitle {
		max-width: 445px;
    color: var(--main-color-text);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
  }
  .buttons {
  }
}
