.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  border-top: 4px solid #e2e2e2;

  .desc {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 40px;

    .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.3;
      color: var(--main-color-text);
      width: 100%;
    }

    .total_amount {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 14px;
      .total {
        font-size: 34px;
        line-height: 32px;
        font-weight: 300;
        color: #797979;
      }

      .amount {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: #000;
        font-style: normal;
        text-transform: uppercase;

        .amount_value {
          font-size: 34px;
          line-height: 32px;
          font-weight: 300;
        }

        .amount_text {
          font-size: 20px;
          line-height: 22px;
          font-weight: 400;
        }

        .amount_text_contact_reseller {
          font-size: 20px;
          line-height: 22px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  .buttons {
  }
}

@media (max-width: 992px) {
  .container {
    gap: 40px;

    .desc {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: normal;
      padding: 20px;

      .total_amount {
        justify-content: flex-start;
        width: 100%;
        gap: 14px;

        .amount {
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .desc {
      padding: 20px;

      .text {
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        color: var(--main-color-text);
        width: 100%;
      }

      .total_amount {
        justify-content: flex-end;

        .amount {
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .container {
    .desc {
      padding: 20px;

      .text {
        font-size: 14px;
      }

      .total_amount {
        justify-content: flex-end;

        .total {
          font-size: 26px;
          line-height: 1.3;
        }

        .amount {
          flex-direction: column;
          align-items: flex-end;

          .amount_value {
            font-size: 26px;
            line-height: 1.3;
          }
        }
      }
    }
  }
}
