.container {
	display: grid;
  grid-template-columns: 70% 30%;
	height: 100%;
	width: 100%;

	.player {
		width: 100%;
		height: 100%;
	}

	.form {
		width: 100%;
		height: 100%;

		background-color: #971717;
	}
	

}