.container {
  position: relative;
  width: 100%;

  .gallerySlide {
    position: relative;
    width: 100%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .slide {
      display: none;
      width: 100%;
      height: auto;
      transition: opacity 0.5s ease;
    }

    .slide.active {
      display: block;
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border: none;
      outline: none;
      font-size: 80px;
      padding: 0 50px;
      transition: color 0.3s ease;
    }

    .prev:hover,
    .next:hover {
      color: rgba(0, 0, 0, 0.2);
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }
  }

  .dotContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;

    .dot {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: transparent;
      border: 3px solid #c3c6c8;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .dot.active {
      border: 1px solid transparent;
      background-color: var(--main-color-block);
      border-radius: 5px;
      width: 50px;
      transition: all 0.3s ease;
    }
  }
}
