.container {
  padding-top: 20px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  background-color: #f4f4f4;

  .button_link {
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .form {
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .container {
    .wrapper_cards {
      width: 100%;
      display: flex;
      justify-content: center;
      
      .cards {
        padding-top: 20px;
        gap: 20px;
        justify-content: normal;
        align-items: normal;
        overflow-x: auto;
      }
    }
  }
}
