.container {
  padding-top: 20px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
	
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 60;
	background-color: #F4F4F4;


  .button_link {
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .form {
  }
}
