.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;

  .header {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;

    .title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--main-color-block);
    }
    .divider {
      width: 100%;
      border: 1px dashed #c3c6c8;
    }
  }

  .wrapper_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: row;
    
    
    align-items: center;

    .header {
      width: fit-content;
      gap: 0;

      .title {
        display: none;
      }
      .divider {
        height: 100%;
        border: 1px dashed #c3c6c8;
        width: 1px;
      }
    }
    .wrapper_cards {
      // align-items: stretch;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: scroll;
      height: calc(100% - 40px);
      padding: 20px 0;
    }
  }
}
