.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;

  .header {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;

    .title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--main-color-block);
    }
    .divider {
      width: 100%;
      border: 1px dashed #c3c6c8;
    }
  }

  .wrapper_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    & button {
      box-shadow: 0 0 0 5px #ffff;
      width: 26px;
      height: 26px;
			background-size: 12px !important;
    }
  }
}
