.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.36px;
  }

  .subtitle {
    color: var(--main-color-text);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 40px;
    .title {
      font-size: 30px;
      line-height: 34px;
    }
    .subtitle {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 30px;
    .title {
      font-size: 20px;
      line-height: 24px;
    }
    .subtitle {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
