.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  .wrapper {
    padding: 100px 0;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

.container_load {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .container {
    align-items: normal;
    justify-content: normal;
    .wrapper {
      padding: 40px;
      max-width: none;
      gap: 50px;
    }
  }
}
