.container {
  width: 100%;
  height: 100%;
  position: relative;

  & canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  & [aria-label="Enter Fullscreen"] {
    display: none;
    user-select: none;
  }
}
