.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 34px;

	border-radius: 4px;
	background: #FFF;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);

  .image {
		width: 160px;
		height: 120px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .title {
    max-width: 160px;
    color: var(--main-color-text);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}

@media (max-width: 1000px) {
  .container {
    .image {
      width: 150px;
      height: 110px;
    }
    .title {
      max-width: 160px;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
