.app {
  height: 100vh;
  background-color: var(--main-color-background);
  font-family: var(--font-family);
}

.loader {
  height: 100vh;
}

@media (max-width: 1000px) {
  .app,
  .loader {
    height: calc(var(--vh, 1vh) * 100);
  }
}
