.container {
  background-color: #fff;

  cursor: pointer;
  transition: opacity 0.5s;
  position: relative;
  border-radius: 4px;
  border: 2px solid transparent;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);

  .button {
    margin: 0;
    cursor: pointer !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px dotted var(--main-color-block);
    position: absolute;
    top: -15px;
    right: 20px;
    box-shadow: 0 0 0 5px #f4f4f4;
    transition: background-color 0.25s;
  }

  .button_active {
    background: var(--main-color-block)
      url(https://cdn.spectrumcustomizer.com/logitech/room/frontend/img/checkmark.svg)
      50% no-repeat !important;
    background-size: 14px !important;
    border-style: solid;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
}

.container:hover {
  border: 2px solid #d6c4ff;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.12);
}

.container_disabled {
  opacity: 0.35;
}

.container_active {
  border: 2px solid var(--main-color-block);
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.12);
}

.container_recommended {
  box-shadow: 0px 0px 16px 0px rgba(129, 78, 250, 0.50);
}

.container_recommended:hover {
  box-shadow: 0px 0px 20px 0px rgba(129, 78, 250, 0.70);
}

@media (max-width: 1000px) or (max-height: 850px) {
  .container {
    .wrapper {
      width: 100%;
      height: 100%;
    }
  }
}

.isPadding {
  padding: 50px 20px;
}

@media (max-width: 1000px) or (max-height: 850px) {
  .isPadding {
    padding: 30px 20px;
  }
}
