.container {
	display: flex;
	gap: 14px;
	align-items: center;

	.color {
		width: 20px; 
		height: 20px; 
		border-radius: 50%;
		border: 1px solid #000;
		cursor: pointer; 
	}

	.active_color {
		border: 2px solid #000;
	}

	.text {
		color: var(--main-color-text);
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 12px;
	}
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}
