.container {
	display: flex;
	gap: 14px;
	align-items: center;

	.color {
		width: 20px; 
		height: 20px; 
		border-radius: 50%;
		border: 1px solid #000;
		cursor: pointer; 

		& img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	.active_color {
		border: 2px solid #000;
	}

	.text {
		color: var(--main-color-text);
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 12px;
	}
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

@media (max-width: 1000px) {
	.container {
		justify-content: center;
		gap: 7.5px;
		
		.text {
			display: none;
		}
	}
}
