.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 1;

  .mobile_back {
    display: none;
  }
  .button_next {
    display: flex;
  }
}

@media (max-width: 500px) {
  .actions {
    .mobile_back {
      display: block;
    }
    .button_back {
      display: none;
    }
  }
}
@media (max-width: 992px) {
  .actions {
    .button_next {
      width: 158px;
      & div {
        width: 100%;
      }
    }
  }
}
@media (max-width: 719px) {
  .actions {
    .button_next {
      max-width: 164px;

      & div {
        width: 100%;
      }
    }
    .mobile_back {
      > div {
        padding: 16px 40px;
        * svg {
          height: 16px;
        }
      }
    }
  }
}
