.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 1;

  .mobile_back {
    display: none;
  }
}

@media (max-width: 500px) {
  .actions {
    .mobile_back {
      display: block;
    }
    .button_back {
      display: none;
    }
  }
}
