.label_dimension {
  display: flex;

  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	white-space: nowrap;

  .text {
    color: var(--main-color-text);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: center;
  }
}
