.container {
	max-width: 600px;
  display: flex;
	gap: 22px;

  .left_content {

    .image {
      max-width: 151px;
      min-width: 151px;
      height: 90px;

      & img {
        width: 100%;
        height: 100%;
				object-fit: contain;
      }
    }
  }

  .right_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    .title {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: #000000;
    }

    .subtitle {
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      color: #697172;
    }
  }
}
