.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 100px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #f4f4f4;

  .selected_cards {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .text {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 30px;

      .divider {
        border-top: 1px solid #c3c6c8;
        height: 1px;
        width: 100%;
      }
      .title {
        width: fit-content;
        white-space: nowrap;
        color: var(--main-color-text);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.2px;
      }
    }

    .cards {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
  }
}

.loader {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #f4f4f4;
}

.container_simple {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
