.container_display_toggle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;

  .button {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 6px;
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 0px #0000001a;
    border: 1px solid transparent;
    cursor: pointer;

    .icon {
      min-height: 15px;
      height: 15px;
      display: flex;
      align-items: center;

      & svg {
        height: 100%;
        width: 100%;
        resize: none;
      }
    }

    .single {
      min-width: 22.06px;
    }
    .dual {
      min-width: 45.8px;
    }

    .text {
      color: var(--main-color-text);
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      text-align: center;
    }
  }

  .button:hover {
    box-shadow: 0px 4px 16px 0px #00000026;

    .icon {
      & svg {
        & rect {
          stroke: var(--main-color-block);
        }
      }
    }
  }

  .button_active {
    border: 1px solid var(--main-color-block);
    box-shadow: 0px 2px 10px 0px #0000001a;

    .icon {
      & svg {
        & rect {
          stroke: var(--main-color-block);
        }
      }
    }
  }
}

.disabled {
  opacity: 0.5;
  user-select: none;
}

.disabled .button:hover {
  box-shadow: 0px 2px 10px 0px #0000001a;
  cursor: default;

  .icon {
    & svg {
      & rect {
        stroke: black;
      }
    }
  }
}

@media (max-width: 1340px) {
  .container_display_toggle {
    gap: 14px;
    .button {
      padding: 6px 14px;
      gap: 5px;
    }
    
  }
}

@media (max-width: 500px) {
  .container_display_toggle {
    .button {
      .text {
        display: none;
      }
    }
  }
}
