.container_screen {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.9);

  .modal {
    height: calc(100% - 72px);
    padding: 36px 55px;
    .header {
      width: 100%;
      .close {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & div {
          div {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .icon_tabs {
        display: flex;
        gap: 20px;
        align-items: center;
        .icon_tab {
          opacity: 0.1;
          display: flex;
          align-items: center;

          & svg {
            width: 80px;
            height: 80px;
          }
        }

        .icon_tab_active {
          opacity: 1;
        }
      }
      .tab_content {
        max-width: 549px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container_screen {
    .modal {
      padding: 36px 25px;
    }
  }
}

@media (max-width: 600px) {
  .container_screen {
    .modal {
      .content {
        gap: 30px;
        .icon_tabs {
          gap: 25px;
          .icon_tab {
            & svg {
              width: 70px;
              height: 70px;
            }
          }
        }
        .tab_content {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container_screen {
    .modal {
      .content {
        gap: 20px;
        .icon_tabs {
          gap: 20px;
          .icon_tab {
            & svg {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}
