.container {
  padding: 60px 0;
  position: relative;

  .close_button {
    position: absolute;
    top: 0;
    left: 100%;
    width: 96px;
    height: 96px;
    background: var(--main-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .item {
      padding: 0 60px;
      display: flex;
      gap: 103px;
      .left_item {
        .image {
          width: 600px;
          height: 400px;
          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .right_item {
        width: 380px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .text {
          .title {
            color: #000;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.36px;
            padding-bottom: 10px;
          }
          .subtitle {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            padding-bottom: 30px;
          }
          .decs {
            color: var(--main-color-text);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
          }
        }

        .colors {
        }

        .button {
        }
      }
    }

    .section_video {
      display: flex;
      gap: 40px;
      padding: 100px 60px;

      .left_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .title_video {
          color: var(--Logitech-Colors-Black, #000);
          font-family: "Poppins", sans-serif;
          font-size: 46px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px; /* 104.348% */
          letter-spacing: -0.46px;
          text-transform: uppercase;
        }

        .decs_video {
          color: var(--Logitech-Colors-Kohle, #2f3132);
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 22px; /* 137.5% */
        }
      }
      .right_content {
        flex: 1;
        .video {
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-evenly;
      padding: 30px 60px;

      gap: 25px;

      .card {
        max-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 230px;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .title {
            color: var(--main-color-text);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px; /* 120% */
            text-transform: uppercase;
          }
          .desc .desc {
            color: var(--main-color-text);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px; /* 137.5% */
          }
        }
      }
    }

    .button_add_room {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .wrapper::-webkit-scrollbar {
    width: 12px;
    height: 400px;
    background-color: #fbfbfb;
  }

  .wrapper::-webkit-scrollbar-thumb {
    background-color: #e1e2e3;
    border-radius: 50px;
  }

  .gap_2_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding: 20px 60px;

    gap: 25px;
    .card {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 320px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          color: var(--main-color-text);
          font-size: 20px;
          font-weight: 700;
          line-height: 24px; /* 120% */
          text-transform: uppercase;
        }
        .desc .desc {
          color: var(--main-color-text);
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 22px; /* 137.5% */
          text-align: justify;
        }
      }
    }
  }

  .sectionsGrey {
    background-color: #f4f4f4;
  }
}
