.form {
  padding: 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.form::-webkit-scrollbar-thumb {
  background-color: #e1e2e3;
  border-radius: 50px;
}

@media (max-width: 900px) {
  .form {
    flex-direction: row;
    align-items: center;
    align-items: stretch;
    padding: 20px;
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100% - 40px);
    gap: 20px;
  }
}
