.form {
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.form::-webkit-scrollbar-thumb {
  background-color: #e1e2e3;
  border-radius: 50px;
}

@media (max-width: 1000px) {
  .form {
    padding: 20px 40px;
  }
}

@media (max-width: 500px) {
  .form {
    padding: 20px 30px;
  }
}
